<div style="text-align: right; padding: 10px 5px;">
  <button nz-button nzType="primary"
    [nzSize]="'large'"
    nzShape="round"
    (click)="showAddTripModal()">
    <span nz-icon nzType="plus"></span>
    Add Fuel Usage
  </button>
</div>

<nz-modal [(nzVisible)]="isVisible" nzTitle="Add Fuel Usage"
  (nzOnCancel)="closeModal()"
  [nzFooter]="null" >
  <ng-container *nzModalContent>
    <app-add-trip (onSuccess)="onSuccessAdd($event)" [selectedTrip]="selectedTrip" ></app-add-trip>
  </ng-container>
</nz-modal>

<nz-table #basicTable [nzData]="fuelUsages">
  <thead>
    <tr>
      <th scope="col">Trip Date</th>
      <th scope="col">Distance (Km)</th>
      <th scope="col">Consumption Rate (Kpl)</th>
      <th scope="col">Est. Fuel Burned (L)</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    @for (data of basicTable.data; track data) {
      <tr>
        <td>{{data.tripDate | date: 'MM/dd/yyyy'}}</td>
        <td>{{data.distanceTraveled}}</td>
        <td>{{data.fuelConsumptionRate}}</td>
        <td>{{computeFuelBurned(data.distanceTraveled, data.fuelConsumptionRate) | number: '1.2-4'}}</td>
        <td>
          <a (click)="editTrip(data)">Edit</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a (click)="deleteTrip(data.id!)">Delete</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a>Mark as Paid</a>
        </td>
      </tr>
    }
  </tbody>
</nz-table>