<div style="text-align: right; padding: 10px 5px;">
  <button nz-button nzType="primary" [nzSize]="'large'" nzShape="round" (click)="showAddTripModal()">
    <span nz-icon nzType="plus"></span>
    Add Fuel Usage
  </button>
</div>

<nz-modal [(nzVisible)]="isVisible" nzTitle="Add Fuel Usage" (nzOnCancel)="closeModal()" (nzOnOk)="addTrip()" nzOkText="Save" [nzFooter]="null" >
  <ng-container *nzModalContent>
    <div>
      <form nz-form [formGroup]="addFuelUsageForm" (ngSubmit)="addTrip()">

        <nz-form-item>
          <nz-form-label [nzRequired]="true">Trip Date</nz-form-label>
          <nz-form-control nzErrorTip="Trip Date is required">
            <nz-date-picker 
            nzFormat="MM/dd/yyyy" 
            formControlName="tripDate"
            [class.input-error]="tripDate.touched && tripDate.invalid"></nz-date-picker>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzRequired]="true">Distance</nz-form-label>
          <nz-form-control [nzErrorTip]="distanceTraveledError">
            <input nz-input 
            placeholder="Distance Traveled" 
            formControlName="distanceTraveled" 
            type="number"
            [class.input-error]="distanceTraveled.touched && distanceTraveled.invalid" />
            <ng-template #distanceTraveledError let-control>
                @if(control.errors?.['required']){
                  Distance Traveled is required
                }
                @if(control.errors?.['min']){
                    Distance Traveled must be greater than 0
                }
            </ng-template>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzRequired]="true">Average Fuel Consumption Rate</nz-form-label>
          <nz-form-control [nzErrorTip]="fuelConsumptionRateError">
            <input nz-input 
            placeholder="Fuel Consumption Rate" 
            formControlName="fuelConsumptionRate" 
            type="number"
            [class.input-error]="fuelConsumptionRate.touched && fuelConsumptionRate.invalid">
            <ng-template #fuelConsumptionRateError let-control>
                @if(control.errors?.['required']){
                  Fuel Consumption Rate is required
                }
                @if(control.errors?.['min']){
                  Fuel Consumption Rate must be greater than 0
                }
            </ng-template>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item style="text-align: right;">
          <nz-form-control>
            <button nz-button 
            nzType="primary" 
            [disabled]="addFuelUsageForm.invalid"
            [nzLoading]="isSaving"
            >{{isSaving ? 'Saving' : 'Save'}}</button>
          </nz-form-control>
        </nz-form-item>
      </form>
    </div>
  </ng-container>
</nz-modal>

<nz-table #basicTable [nzData]="fuelUsages">
    <thead>
      <tr>
        <th scope="col">Trip Date</th>
        <th scope="col">Distance (Km)</th>
        <th scope="col">Consumption Rate (Kpl)</th>
        <th scope="col">Est. Fuel Burned (L)</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{data.tripDate | date: 'MM/dd/yyyy'}}</td>
        <td>{{data.distanceTraveled}}</td>
        <td>{{data.fuelConsumptionRate}}</td>
        <td>{{computeFuelBurned(data.distanceTraveled, data.fuelConsumptionRate) | number: '1.2-4'}}</td>
        <td>
          <a>Edit</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a>Delete</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a>Mark as Paid</a>
        </td>
      </tr>
    </tbody>
  </nz-table>